*{
    background-color: rgb(12, 15, 41);
color: rgb(241, 240, 240)

}




*{
    color: rgb(240, 183, 183);
}


*{color: rgb(227, 214, 243);}

@import url('//fonts.googleapis.com/css?family=Roboto:500');

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


